# Add the following to a .env file in this directory to
# enable live email testing when you run:
#
# go test -run ^TestLiveEmails$ ./commo

# Set to 0 in a .env file to skip the live email tests
TEST_LIVE_EMAILS=1

# Set to the email address you'd like messages sent to
TEST_LIVE_EMAIL_RECIPIENT="Tester <test@rotational.io>"

# The sender all emails will come from
COMMO_EMAIL_SENDER="Localhost Commo <noreply@rotational.io>"

# Configure for SendGrid
COMMO_EMAIL_SENDGRID_API_KEY=

# Configure for SMTP
COMMO_EMAIL_SMTP_HOST=
COMMO_EMAIL_SMTP_PORT=
COMMO_EMAIL_SMTP_USERNAME=
COMMO_EMAIL_SMTP_PASSWORD=
COMMO_EMAIL_SMTP_USE_CRAMMD5=false
